/* Maya Westhorp, Data Science 2022*/

/* This is my CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*BACKGROUND*/
body{
    background-color: #ABCCD9;
    max-width: 2000px;
    margin: auto;
    box-sizing:border-box;
    justify-content: center;
    align-items: center;
 }

/*TEXT*/
h1, h2, h3, a{
  color:#0C1F26;
  font-family: 'Lora', sans-serif;
  text-align: center;
}

p{  
  color:#0C1F26;
  font-family: 'Lora', sans-serif;
  text-align: center;
  margin: auto;
}

/*TITLE BAR*/
.title-bar{
    position: relative;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    background-color:#73A9BF;
    height: auto;
    line-height:0;
    word-wrap: break-word;
    padding:3px;
    }

.title-bar h1{ 
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px;
    text-align: center
    }
      
.title-bar p{ 
    font-size: 20px;
    font-family: 'Lora', sans-serif;
    font-weight: bold;
    margin: 50px;
    text-align: center
    }

/*PORTFOLIO*/
.main2{
  margin: auto;
  font-family: 'Lora', sans-serif;
  font-size: 22px;
  padding: 10px;
  vertical-align: center;
  text-align: center;
  color:#0C1F26;
  }

.main2 p{
  font-size: 18px;
  line-height: 1.5;
  margin: 15px auto;
  max-width: 900px;
}

/*PROJECT*/
.main{
  margin: auto;
  font-family: 'Lora', sans-serif;
  font-size: 22px;
  padding: 10px;
  vertical-align: center;
  text-align: center;
  color:#0C1F26;
}

.main p{
  font-size: 18px;
  line-height: 1.5;
  margin: 15px auto;
  max-width: 1100px;
}

.box1 {
  box-sizing: border-box;
  background-color: rgb(232, 179, 230);
  width: auto;
  border-radius: 25px;
  padding: 30px;
  text-align: center;
  color: white;
  margin: 20px;
  border-style: solid;
  border-color: white;
  font-size: 20px
}

.box2 {
  box-sizing: border-box;
  background-color: rgb(236, 214, 235);
  width: auto;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 20px;
  border-style: solid;
  border-color: white;
  font-size: 15px
}

.box3 {
  box-sizing: border-box;
  background-color: #ABCCD9;
  max-width: 800px;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  color: white;
  margin: auto;
  border-style: solid;
  border-color: white;
  font-size: 15px
}

.main button{
  width: 150px;
  margin:30px 10px;
  color: white;
  font-size: 20px;
  font-family: 'Lora', sans-serif;
  border:1px solid white;
  background: rgb(232, 179, 230);
  border-radius: 25px;
  padding: 20px;
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.main button:hover{
  border-radius: 5px;
}

/*CLICKED LINKS*/
a:link, a:visited {
  color: #347B98;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #347B98;
}

/*CHARTS*/
.chart{
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: 1000px;
  background-color:#ABCCD9; 
  width: 350px;
}

.dashchart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    place-items: center;
    padding: 5px;
    width: 100%;
    margin: auto;
  }
  .grid-item {
    padding: 5px;
    font-size: 10px;
    margin: auto;
  }

.vega-bind-name{
  font-family: 'Lora', sans-serif;
  color: #0C1F26;
  font-size: 15px;
}

.marks{
  font-family: 'Lora', sans-serif;
  font-size: 15px;
}

/*NAVIGATION BAR*/
.topnav {
    position:relative;
    background-color: #347B98;
    overflow: hidden;
    justify-items: right;
    border-bottom:1px solid white;
    margin-right: 0;
    font-family: 'Lora', sans-serif;
    opacity: 100%;
    color:white;
    width: 100%;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/*PAGE BREAK*/
.break {
  display: flex;
  justify-content:center;
  text-align:left;
}
.break .dot {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 0.8em;
  border-radius: 50%;
  text-align: left;
}
.break .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
}
.break .dot:nth-child(1) {
  background: plum;
}

.break .dot:nth-child(2) {
  background: #b36ebc;
}

.break .dot:nth-child(3) {
  background: #703486;
}

.break .dot:nth-child(4) {
  background: #5757b4;
}

.break .dot:nth-child(5) {
  background: #1a61b5;
}

/*CONTAINER*/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  padding:10px;
  margin:auto;
  max-width: 100%;
}

.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ABCCD9;
}

/*FOOTER*/
footer {
  height: 100px
}

/*PHONE EXCEPTIONS*/
@media only screen and (max-width: 700px) {
  .main p{
    font-size: 20px;
    line-height: 1.5;
    margin: 17px auto;
    max-width:900px;
  }

  .main button{
      width: 300px;
      margin:100px auto ;
      color: white;
      font-size: 50px;
      border:1px solid white;
      font-weight: 500;
      background: rgb(232, 179, 230);
      border-radius: 20px;
      padding: 50px;
      cursor:pointer;
      transition: .3s;
      z-index: -1;
      display:grid;
  }

  .title-bar p{
    font-size: 12px;
  }
  
  .title-bar h1{
    font-size: 25px;
  }

  .box1 h2{
    font-size: 28px;
  }

  .box2 p{
    font-size: 20px;
  }

  .box3 {
    width: 250px;
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    padding: 5px;
    width: 100%;
    margin: auto;
  }

  div.rest {
    left: -275px;
    margin-left: 30px;
    margin-right: 50px;
    position: absolute;
  }
}

div.rest {
  margin-left: 300px;
  margin-right: 50px;
  padding: 1px 16px;
}
